.error {
  height: 100px;
  width: 200px;
  @include flex-center(row);

  &-title {
    @include font(1.5rem, 400, 28px);
    color: $color-red;
  }
  &-message {
    @include font(1.5rem, 400, 28px);
    @include long-text;
    color: $color-red;
  }
  &-reload {
    cursor: pointer;
    @include font(1.25rem, 300);
    border-radius: 4px;
    border-color: $color-border-light;
    background-color: $color-bg-main;

    &:hover {
      background-color: $color-orange;
      color: $color-white;
    }
  }
}
