.search {
  @include flex-start;
  flex: 1 0 auto;
  margin: 120px 1rem 60px 1rem;

  &__title {
    color: $color-dark;
    @include font(4rem, 700, 80px);
    text-transform: capitalize;
    max-width: 700px;
    margin: 2rem 0.5rem;
    text-align: center;
  }

  &__form {
    width: 100%;
    max-width: 762px;
    height: 64px;
    padding: 16px;
    border-radius: 16px;
    @include flex-container(row, space-between, center);
    @include font(1rem, 400, 16.94px);
    background-color: $color-bg-search;

    &-input {
      width: 90%;
      background-color: transparent;
      border: none;
    }

    &-submit {
      cursor: pointer;
      width: 32px;
      height: 32px;
      border-radius: 16px;
      @include css-icon("~@assets/search.svg", 32px, 32px);
    }
  }

  &__list {
    @include mini-card-list;

    &-empty {
      margin-top: 50px;
      @include font(1.2rem, 400, 20px);
      color: $color-light-grey;
    }
  }
  .pagination {
    margin: 0 10%;
  }
}

.error {
  margin-top: 15px;
  color: $color-red;
}
