@mixin font($size, $weight, $lineHeight: normal, $family: Lexend Deca) {
  font-size: $size;
  font-weight: $weight;
  line-height: $lineHeight;
  font-family: $family;
}

@mixin flex-start($direction: column) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: $direction;
}

@mixin flex-center($direction: column) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin flex-container($direction: row, $justify: flex-start, $align: stretch, $gap: null, $wrap: nowrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
  flex-wrap: $wrap;
}

@mixin css-icon($url, $height: 50px, $width: 33px) {
  background-image: url($url);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: $height;
  width: $width;
}

@mixin long-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
