.header {
  background: $color-bg-header;
  height: 127px;
  width: 100%;

  @include flex-container(row, space-around, center);

  &__nav {
    @include flex-container;
    gap: 1rem;
    @include font(19px, 400, Inter);

    &-link {
      color: $color-white;
      @include flex-center;
      gap: 0.5rem;
      text-decoration: none;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        height: 1px;
        background-color: $color-white;
        left: 50%;
        transform: translateX(-48%);
        width: 0;
        transition: width 0.3s ease;
        bottom: -10%;
        box-shadow: 0 2px 10px rgb(255, 255, 255);
      }

      &:hover::after {
        width: 100%;
      }
    }
  }
}

.link {
  padding: 10px;
  margin: 10px;
  background-color: gold;
}

body {
  background-color: black;
}
