body {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  margin: 20px 0px;
  text-align: center;
}

.link {
  font-size: 22px;
  text-decoration: none;
  color: rgb(42, 0, 77);
}

.main {
  margin: auto;
  background-color: rgb(245, 220, 228);
  max-width: 440px;
  min-width: 200px;
  min-height: 150px;
  padding: 10px;
  outline: 1px;
}
